// IntroduceBox.scss

#introduceBox { width: 100%; height: 1050px; padding-top: 50px; }

.intro_inner { position:relative; width: 1190px; height: 950px; margin: auto; }

.intro_part_1 {
  width: 770px; height: 590px; padding-top: 200px;
  background-image: url('../../../public/img/introduce_1.png');
  dl { width: 380px; height: 180px; margin-left: 220px; }
  dt { font-size: 48px; margin-bottom: 40px; }
  dd { line-height: 160%; }
}

.intro_part_2 {
  position:absolute; right: 0; bottom: 0;
  width: 670px; height: 520px; padding-top: 215px;
  background-image: url('../../../public/img/introduce_2.png');
  dl { width: 290px; height: 150px; text-align: right; margin-left: 190px; }
  dt { font-size: 48px; margin-bottom: 40px; }
  dd { line-height: 160%; }
}